<footer class="fixed-bottom bg-dark text-white py-4">
    <section class="container">
        <nav class="row">
            <!-- Logo-->
            <a href="#" class="col-3 text-reset text-upppercase d-flex aling-items-center text-center">
                <div class="g-col-2">
                    <img src="../../../assets/img/navbar/air.ico" alt="Logo Aire" class=" mx-auto img-fluid">

                </div>
                <p class="g-col-1">Clidad del aire</p> 
            </a>
            <ul class="col-3 list-unstyled text-center">
                <li class="font-weigth-bold text-uppercase">Click links</li>
                <li><a href="#" class="text-reset">Link 1</a></li>
                <li><a href="#" class="text-reset">Link 2</a></li>
            </ul>
            <ul class="col-3 list-unstyled text-center">
                <li class="font-weigth-bold text-uppercase">Click links</li>
                <li><a href="#" class="text-reset">Link 1</a></li>
                <li><a href="#" class="text-reset">Link 2</a></li>
            </ul>
            <ul class="col-3 list-unstyled text-center">
                <li class="font-weigth-bold text-uppercase">Redes</li>
                <li >
                    <a href="#" class="text-reset">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li >
                    <a href="#" class="text-reset">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="text-reset">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="text-reset">
                        <i class="fab fa-behance"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</footer>