<main>
    <section class="container d-flex gap-3">
        <article class="">
            <img src="../../../assets/img/dashboard//money (1).ico" alt="">
        </article>
        <article>
            <div class="card">
                <form class="card-body">
                    <fieldset>
                        <legend>Formulario de prestamo</legend>
                        <div class="row row-cols-3">
                            <div class="mb-3">
                                <label for="disabledTextInput" class="form-label">Nombre Completo</label>
                                <input type="text" id="disabledTextInput" class="form-control"
                                    placeholder="Nombre Apellidos">
                            </div>
                            <div class="mb-3">
                                <label for="disabledTextInput" class="form-label">Identificación</label>
                                <input type="text" id="disabledTextInput" class="form-control"
                                    placeholder="000000000000">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="name@example.com">
                            </div>
                            <div class="mb-3">
                                <label for="disabledSelect" class="form-label">Estatus Laboral</label>
                                <select id="disabledSelect" class="form-select">
                                    <option>Disabled select</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="disabledTextInput" class="form-label">Salario</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="">
                            </div>
                            <div class="mb-3">
                                <label for="disabledTextInput" class="form-label">Antiguedad en el trabajo
                                    actual</label>
                                <input type="text" id="disabledTextInput" class="form-control" placeholder="meses">
                            </div>
                            <button type="submit" class=" btn btn-primary text-wrap">Enviar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </article>

    </section>
</main>