<!--
<h1>Hello</h1>
<br>
<select >
    <option *ngFor="let cosas of cosasQueGustan" [value]="cosas">{{cosas}}</option> <!--creeme varias opciones a partir del documento
</select>
<br>
<h2>Mi primer databinding por interpolacion = {{title}}</h2> <!--primer interpolacion accedemos directmente  alas variables 
<h3 [innerText]="'mi segundo databinding por directivas =' + title" [hidden]="ocultar"></h3><!--Segundo databinding: directivas sobrecargas
<h4>{{resultadoDataBingingEvent}}</h4>

<button (click)="changeH4()"> Databinding evento</button><!--databaiding por eventos-->
<app-nadvar></app-nadvar>
<app-dashboard></app-dashboard>
<app-footer></app-footer>